@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

h1 {
  display: -ms-grid;
  display: grid;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

#menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 3;
}

#about1 {
  height: 800px;
  background: url(./img/about1.png);
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

#about1:hover {
  background: url(./img/about2.png);
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

#carouselExampleFade {
  width: 100% !important;
  margin: 0 auto !important;
}

#carouselExampleFade img {
  height: 100%  !important;
  -o-object-fit: cover;
     object-fit: cover;
}

#carouselExampleFade .carousel-control-next, #carouselExampleFade .carousel-control-prev {
  display: none;
}

.col-4, .col-8 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
}

#news h4 {
  font-size: 25px;
  text-align: center;
  margin-top: 0;
  padding: 20px;
}

#news .list-group a {
  font-size: 20px;
}

#product {
  background-image: url(./img/product-back.png);
}

#product .card {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background-color: #ffffff11;
}

section .title {
  text-align: center;
}

section .text-left {
  text-align: center;
}

section .text-left p {
  margin: 0 , 0 , 10px;
}

section form {
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}

section form .login-container .text-left, section form input {
  width: 100%;
  color: #595757;
  padding: 14px 15px;
  font-size: 16px;
  margin: 10px 0;
  height: 50px;
  border-radius: 0;
  background: #fff;
}

section form .btn-more {
  background: #071B43;
  border: 1px solid #071B43;
  margin: 15px auto;
  width: 200px;
  max-width: 200px;
  font-size: 16px;
  cursor: pointer;
  line-height: 16px;
  border-radius: 1.5em;
  display: block;
  text-align: center;
  padding: .5em;
  color: #E4D0A3;
  text-decoration: none;
}

section form .btn-more:hover {
  background: #E3DDD2;
  border: 1px solid #E3DDD2;
  margin: 15px auto;
  width: 200px;
  max-width: 200px;
  font-size: 16px;
  cursor: pointer;
  line-height: 16px;
  border-radius: 1.5em;
  display: block;
  text-align: center;
  padding: .5em;
  color: #071B43;
  text-decoration: none;
}

#join {
  background-image: url(./img/join.jpg);
  background-position: 50% 50%;
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#join #text {
  background-color: white;
  width: 250px;
  margin: auto;
  padding-bottom: 10px;
}

#join #text img {
  margin: 10px;
  padding: 10px;
}

#join #text p {
  text-align: center;
  font-size: 20px;
}

#call123 {
  background-image: url(./img/callme.png);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  line-height: 2.5;
}

#call123 h1 {
  margin-top: 10px;
}

#call123 p {
  margin-top: 10px;
}

#callme input[type="submit"] {
  background: #071B43;
  border: 1px solid #071B43;
  margin: 15px auto;
  width: 200px;
  max-width: 200px;
  font-size: 16px;
  cursor: pointer;
  line-height: 16px;
  border-radius: 1.5em;
  display: block;
  text-align: center;
  padding: .5em;
  color: #E4D0A3;
  text-decoration: none;
}

#callme input[type="submit"]:hover {
  background: #E3DDD2;
  border: 1px solid #E3DDD2;
  margin: 15px auto;
  width: 200px;
  max-width: 200px;
  font-size: 16px;
  cursor: pointer;
  line-height: 16px;
  border-radius: 1.5em;
  display: block;
  text-align: center;
  padding: .5em;
  color: #071B43;
  text-decoration: none;
}

.row::before {
  background-image: url(./img/callme.png);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: -2;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

#back-to-top {
  width: 65px;
  height: 65px;
  position: fixed;
  right: 15px;
  bottom: 30px;
  border-radius: 50px;
  cursor: pointer;
}

#back-to-top p {
  font-size: 5px;
  text-align: center;
}

footer {
  padding: 100px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */