$color-main: #071B43;

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
    width: 100%;
    
}

h1{
    display: grid;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

#menu{
    position: sticky;
    top: 0;
    transform: translateY(0);
    z-index: 3;
}
// 關於我們滑入滑出特效
// #about {
//     h1{
//         padding-top: 20px;
//         padding-bottom: none;
//     }
//     #about1{
//         position: relative;
//         &:hover img:nth-child(1){ 
//             z-index: -1;
//         }
//         img{
//             &:nth-child(1){
//                 position: absolute;
                
//             }
//         }
//     }
// }

// 改版
#about1 {
    height: 800px;
    background: url(./img/about1.png);
    background-size: cover;
    transition: 1s;

    &:hover {
        background: url(./img/about2.png);
        background-size: cover;
        transition: 1s;
    }
}

#carouselExampleFade {
    
    width: 100% !important;
    margin: 0 auto !important;

    img {
        height: 100%  !important;
        object-fit: cover;
    }

    .carousel-control-next, .carousel-control-prev {
        display: none;
    }
}
.col-4, .col-8{
    align-items: center;
    display: grid;
}

#news {

    .row {
        height: 700px;
    }
    
    h4{
        font-size: 25px;
        text-align: center;
        margin-top: 0;
        padding: 20px;
    }
    .list-group{
        a{
            font-size: 20px;
        }
    }
}


#product{
    background-image: url(./img/product-back.png);
    .card{
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        border: 0px ;
        background-color: #ffffff11;
    }
}

// 會員專區
section{
    .title{
        text-align: center;
    }

    .text-left{
        text-align: center;
        p{
            margin: 0 , 0 , 10px;
        }
    }

    input, textarea {
        border: 0.5px solid rgba(0, 0, 0, 0.1);

        &:focus {
            outline: none;
            border: 0.5px solid $color-main;
        }

        &::placeholder {
            color: #cccccc;
        }
    }

    form{
        width: 500px;
        margin: 0 auto;
        padding: 30px 0;

        .login-container .text-left, input {
            width: 100%;
            color: #595757;
            padding: 14px 15px;
            font-size: 16px;
            margin: 10px 0;
            height: 50px;
            border-radius: 0;
            background: #fff;
        }
    
        .btn-more{
            background: #071B43;
            border: 1px solid #071B43;
            margin: 15px auto;
            width: 200px;
            max-width: 200px;
            font-size: 16px;
            cursor: pointer;
            line-height: 16px;
            border-radius: 1.5em;
            display: block;
            text-align: center;
            padding: .5em;
            color: #E4D0A3;
            text-decoration: none;
        }
        .btn-more:hover{
            background: #E3DDD2;
            border: 1px solid #E3DDD2;
            margin: 15px auto;
            width: 200px;
            max-width: 200px;
            font-size: 16px;
            cursor: pointer;
            line-height: 16px;
            border-radius: 1.5em;
            display: block;
            text-align: center;
            padding: .5em;
            color: #071B43;
            text-decoration: none;
        }
    }
}

#join{
    background-image: url(./img/join.jpg);
    background-position: 50% 50%;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    margin: 0;

    #text{
        background-color: white;
        width: 250px;
        margin: auto;
        padding-bottom: 10px;

        img{
            margin: 10px;
            padding: 10px;
        }
        p{
            text-align: center;
            font-size: 20px;
        }
    }
}
// 聯絡我們
#call123 {
    width: 100%;
    height: 800px;
    align-items: center;
    
    .row {
        background-image: url(./img/callme.png);
        background-position: 50% 50%;
        background-size: cover;
        margin: 0;
    }

    h1 {
        margin-top: 10px;
    }

    margin: 0 auto;
    text-align: center;
    line-height: 2.5;

    p {
        margin-top: 10px;
    }  
}

#callme input[type="submit"] {
    background: #071B43;
    border: 1px solid #071B43;
    margin: 15px auto;
    width: 200px;
    max-width: 200px;
    font-size: 16px;
    cursor: pointer;
    line-height: 16px;
    border-radius: 1.5em;
    display: block;
    text-align: center;
    padding: .5em;
    color: #E4D0A3;
    text-decoration: none;
}

#callme input[type="submit"]:hover{
    background: #E3DDD2;
    border: 1px solid #E3DDD2;
    margin: 15px auto;
    width: 200px;
    max-width: 200px;
    font-size: 16px;
    cursor: pointer;
    line-height: 16px;
    border-radius: 1.5em;
    display: block;
    text-align: center;
    padding: .5em;
    color: #071B43;
    text-decoration: none;  
}
// https://www.itread01.com/content/1541859063.html
.row::before{
        background-image: url(./img/callme.png);
        background-position: 50% 50%;
        background-size: cover;
        width: 100%;
        height: 800px;
        display: flex;
        align-items: center;
        width: 100%;
        z-index: -2;
        -webkit-filter: blur(3px);
        filter: blur(3px); 
    }
#back-to-top {
    width: 65px;
    height: 65px;
    position: fixed;
    right: 15px;
    bottom: 30px;
    border-radius: 50px;
    cursor: pointer;
    p{
        font-size: 5px;
        text-align: center;
    }
    }
footer{
    padding: 100px;
    text-align: center;
}   
